NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=task_flow_pro
DB_DATABASE=task_flow_pro

JWT_SECRET=change_this_secret_for_local_development
FRONTEND_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

# CONFIGURACIÓN SMTP DE CORREO (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email
SMTP_PASS=app_password
